/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 19, 2018, 4:11:40 PM
    Author     : heathann
*/

h1{
    font-size: 300%;
    padding: 0px;
    margin: 0px;
}
h3{
    font-size: 200%;
    padding: 0px;
    margin: 0px;
}
body{
    width:100%;
    height:100%;
    font-size: 125%;
    color: darkturquoise;
}
label { 
    display: block;
    width: 300px;
    height: 25px;
    text-align: left;
}
input {
    white-space: pre-wrap;
    width: 300px;
    height: 50px;
}

textarea {
    white-space: pre-wrap;
    width: 300px;
    height: 25px;
    margin-bottom: 20px;
    border: 1px solid darkturquoise;
    font-size: 1.25em;
}

textarea.output-newBody{
    background: #ddd;
    width: 950px;
    height: 700px;	
}

textarea.bodyText {
	width: 950px;
	height: 700px;
}

textarea.desc {
    height: 50px;
}

textarea.output{
    background: #ddd;
    width: 750px;
    height: 300px;
}
form > textarea {
    resize:none;
}

input[type=button], input[type=submit]{
    width: 306px;
    height: 50px;
    background-color: darkturquoise;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border: 0;
    font-size: 125%;
}

a:link, a:visited {
    background-color: darkturquoise;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	width: 350px;
}

a:link.nav{
		width: 100px
}

a:hover, a:active {
    background-color: darkturquoise;
}